# Rust build files
/target/
**/*.rs.bk
Cargo.lock
dockerfile*

# IDE files
.vscode/
.idea/
*.swp
*.swo

*.html
*.sh

# System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.svg
*.png
*.toml
*.yaml

# Plan file (not for version control)
BRIEFING-*.md
GUIDELINES.md
**/phases/old/
**/docs/statuses/